//----------HEADER----------
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    .header_container__logo {
        width: 95px;
        height: 38px;
        background-image: url("./assets/logo_youtube.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .header_container__busquedaYperfil {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        .header_container__busqueda {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("./assets/lupa.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .header_container__perfil {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("./assets/perfil.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 14px;
        }
    }
}

.categorias_container {
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    .categorias_container__separador {
        width: 1px;
        height: 80%;
        margin-right: 10px;
    }
    .categorias_container__boton {
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        border: none;
        background-color: #272727;
        color: white;
        margin-right: 10px;
        .categorias_container__boton_brujula {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("./assets/brujula.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
        }
    }
}
.categorias_container::-webkit-scrollbar{
    height: 0px;
}
.main_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: auto;
    .main_container__miniatura {
        max-width: 587px;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 0;
        margin-bottom: 10px;
        .main_container__miniatura_imagen{
            position: relative;
            img {
                max-width: 587px;
                width: 100%;
                height: auto;
                position: relative;
            }
            .minutos {
                width: auto;
                height: auto;
                padding: 2px;
                background-color: rgba($color: #000000, $alpha: 0.7);
                position: absolute;
                right: 4px;
                bottom: 8px;
                font-size: 1.1rem;
                color: white;
                font-weight: 500;
                border-radius: 4px;
            }
        }
        .main_container__miniatura_titulo{ 
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo_titulo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .logo_perfil {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-image: url("./assets/usuario.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    margin-left: 5px;
                }
                .titulo_informacion {
                    .titulo_video {
                        font-weight: 500;
                        font-size: 1.4rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        max-height: 2.5em;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        line-height: 1.25;
                        text-overflow: ellipsis;
                        color: white;
                        font-family: 'Roboto', sans-serif;
                    }
                    .main_container__miniatura_info {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        .info {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1rem;
                            color: #a0a0a0;
                            margin-right: 4px;
                        }
                        .punto_separador {
                            display: inline-block;
                            width: 3px;
                            height: 3px;
                            border-radius: 1.5px;
                            background-color: #a0a0a0;
                            margin-right: 4px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .logo_menu {
                width: 24px;
                height: 24px;
                background-image: url("./assets/menu.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}
.main_container::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.navegador_container {
    display: flex;
    justify-content: space-around;
    img {
        width: auto;
        height: 100%;
    }
}