//----------HEADER----------
//contenedor del header, aquí acomodamos un poco donde van a
//estar ubicados los elementos, utilizamos flex.
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    //logo de Youtube.
    .header_container__logo {
        width: 95px;
        height: 38px;
    }
    //container de la lupa, y la foto de perfil, simplemente
    //le dimos un tamaño en concreto para poder manejar los
    //dos elementos dentro de este con flex.
    .header_container__busquedaYperfil {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        //la lupa
        .header_container__busqueda {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        //la foto de perfil
        .header_container__perfil {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
    }
}
//----------CATEGORIAS----------
//container con las categorias, aquí simplemente manejamos
//con un flex, y lo único especial es la movida con el overflow
//ya que varias cateogiras se salen de pantalla.
.categorias_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    //la barra vertical que separa la cateogira "explorar" de
    //las demás cateogiras
    .categorias_container__separador {
        width: 1px;
        height: 80%;
        margin-right: 10px;
    }
    //clase genera de las categorias, simplemente las dimensione
    .categorias_container__boton {
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        border: none;
        margin-right: 10px;
        //la brujula de la primer categoria "explorar"
        .categorias_container__boton_brujula {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}
//esto es para desaparecer el scrollbar generado por el 
//overflow
.categorias_container::-webkit-scrollbar{
    height: 0px;
}
//----------MAIN----------
//container del main donde van las miniaturas, también manejamos
//flex, e hicimos una movida con el overflow.
.main_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: auto;
    //el contenedor de la miniatura en general, este por ahora
    //crece al 100% del ancho de pantalla, más adelante en 
    //el state cambia con el responsive
    .main_container__miniatura {
        max-width: 587px;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 0;
        margin-bottom: 10px;
        //el container de la imagen, y los minutos
        .main_container__miniatura_imagen{
            position: relative;
            //la imagen de la miniatura
            img {
                max-width: 587px;
                width: 100%;
                height: auto;
                position: relative;
            }
            //los minutos del video, estos se ubican en la
            //posición inferior derecha de la imagen de la
            //miniatura
            .minutos {
                width: auto;
                height: auto;
                padding: 2px;
                position: absolute;
                right: 4px;
                bottom: 8px;
            }
        }
        //container con la parte textual de la miniatura
        .main_container__miniatura_titulo{ 
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            //container con el logo, y la parte escrita de
            //la miniatura, tenga en cuenta que aquí no entra
            //el simbolo de los 3 puntitos del menu de las
            //miniaturas.
            .logo_titulo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                //logo del canal de la miniatura
                .logo_perfil {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-left: 5px;
                }
                //parte escrita de la miniatura
                .titulo_informacion {
                    //titulo de la miniatura
                    .titulo_video {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    //información del video en la miniatura
                    .main_container__miniatura_info {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        //pequeña separación entre cada punto
                        //de información.
                        .info {
                            margin-right: 4px;
                        }
                        //separador que va entre cada punto
                        //de información
                        .punto_separador {
                            display: inline-block;
                            width: 3px;
                            height: 3px;
                            margin-right: 4px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            //el logo de 3 puntos verticales de la miniatura,
            //este lo puse por acá con la finalidad de que cuando
            //la miniatura crezca, con el "space-between" se mantenga
            //en el lado derecho de la miniatura, y los demás elementos
            //se mantengan juntos.
            .logo_menu {
                width: 24px;
                height: 24px;
            }
        }
    }
}
//aquí eliminamos el scrollbar generado en el container
//de las miniaturas
.main_container::-webkit-scrollbar {
    height: 0;
    width: 0;
}
//----------NAV----------
//el nav de la parte inferior
.navegador_container {
    display: flex;
    justify-content: space-around;
    //cada una de las opciones
    img {
        width: auto;
        height: 100%;
    }
}