//MediaQ que cambia el tamaño, y los margenes de cada
//miniatura para que se adapte a pantallas más anchas
@media (min-width: 587px) {
    .main_container {
        .main_container__miniatura {
            width: 48%;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}
//MediaQ que cambia el tamaño de cada miniatura para que
//se adapte a pantallas más anchas
@media (min-width: 874px) {
    .main_container {
        .main_container__miniatura {
            width: 32%;
        }
    }
}
//MediaQ que cambia el tamaño de cada miniatura para que
//se adapte a pantallas más anchas
@media (min-width: 1200px) {
    .main_container {
        .main_container__miniatura {
            width: 24%;
        }
    }
}
